# data files
data
exp
conll05-original-style
old_data

# bash scripts
*.sh

# docs
docs/_build

# intermediate files
build
dist
*.egg-info
load_and_parse_forcup.py

# experimental results
exp
results
bert-*
roberta-*

# log and config files
*.log
*.ini
*.conllu
*.out
*.07
*.pred
*.txt
*.final

# pycache
__pycache__

# saved model
*.pkl
*.pt
tgt_temp_*

# hidden files
.*

# vscode
.vscode
