# data files
data
exp
conll05-original-style
old_data
bert-base-chinese

# bash scripts
*.sh

# docs
docs/_build

# intermediate files
build
dist
*.egg-info
load_and_parse_forcup*
bert-*
roberta-*
chinese-*

# experimental results
exp
results

# log files
*.log
*.conllu
*.out
*.07
*pred
*.txt
*final
gnn-conll05-topk-woPLMs

# pycache
__pycache__

# saved model
*.pkl
*.pt
tgt_temp_*
# hidden files
.*

# vscode
.vscode
